<div class="panel">

  <h2>Recent Tasks</h2>

  @for (task of tasks; track task.title) {

    <div class="task">

      <div class="task-info">

        <div class="task-dot"></div>

        <span class="title">
          {{ task.title }}
        </span>

      </div>

      <span
        class="badge"
        [class.done]="task.status === 'Done'"
        [class.progress]="task.status === 'In Progress'"
        [class.pending]="task.status === 'Pending'">

        {{ task.status }}

      </span>

    </div>

  }

</div>