<div class="card">

    <h2>Recent Projects</h2>

    @for(project of projects; track project.name){

        <div class="project">

            <div class="header">

                <span>{{project.name}}</span>

                <span>{{project.progress}}%</span>

            </div>

            <div class="bar">

                <div
                    class="fill"
                    [style.width.%]="project.progress">
                </div>

            </div>

        </div>

    }

</div>