<nav class="sidebar">

  <div class="logo">
    <span class="logo-icon">TF</span>

    <div class="logo-text">
      <h2>TeamFlow</h2>
      <p>Project Management</p>
    </div>
  </div>

  <ul>

    <li>
      <a routerLink="/dashboard">
        Dashboard
      </a>
    </li>

    <li>
      <a>
        Projects
      </a>
    </li>

    <li>
      <a>
        Tasks
      </a>
    </li>

    <li>
      <a>
        Team
      </a>
    </li>

    <li>
      <a>
        Settings
      </a>
    </li>

  </ul>

</nav>